// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main{
  margin:20px auto;
  width:700px;
}
.link{
  text-align:center;
  margin:15px;
  background-color:deepskyblue;
}
